
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">{{ brand_name|upper }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('webshop_homepage') }}"><span class="fa fa-home"></span> Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item">
                    {% if is_granted('ROLE_USER') %}
                        <div class="dropdown float-right">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="dropdownProfile" aria-haspopup="true" aria-expanded="false">
                                {{ 'Hi %name%!'|trans({'%name%': app.user.username }) }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownProfile">
                                <a class="dropdown-item" href="#profile">{{ 'Profile'|trans }}</a>
                                <a class="dropdown-item" href="#profile">{{ 'My paintings'|trans }}</a>
                                <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}" >{{ 'Logout'|trans({}, 'FOSUserBundle') }}</a>
                            </div>
                        </div>
                    {% else %}
                    <a class="nav-link" href="{{ path('fos_user_security_login') }}">{{ 'Login'|trans({}, 'FOSUserBundle') }}</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>